@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* START BG */
html {
    height:100%;
}
 
body {
    margin:0;
}
 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, rgb(233, 239, 244) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 

 
h1 {
    font-family:monospace;
}
 
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}
/* END OF BG */
/* global styles */
a {
    display:block;
    color: rgb(234, 12, 237);
    font-family: cursive;
    font-size: xx-large;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
h1{
    text-decoration: overline;
    font: verdana;
    font-size: large;
    text-align: center;
}
p{
    font-size: large;
    font-family: cursive;
}
.container{
    margin-bottom:2.2em;
    min-height: 50vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1cm;

    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);


    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 

    width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
    text-align: center;
}
.container p{
    margin-top: 0.5em;
    margin-bottom:0.5em;
}

.container iframe{
    align-items: center;
}

/* card style */
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #f1f1f1;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}
.card img{
    height: 200px;
    width: 150px;
    object-fit: cover;
}
/* end of cards */
